<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159746824681-63amuoudecs66j37m5a46fdkqpd85v52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159746824681-63amuoudecs66j37m5a46fdkqpd85v52</string>
	<key>API_KEY</key>
	<string>AIzaSyBB930T6coDE2ffkLxKCAji9NF747yjGs4</string>
	<key>GCM_SENDER_ID</key>
	<string>159746824681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-4fdb8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-4fdb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159746824681:ios:668f4342efaa46b4661378</string>
</dict>
</plist>